<div class="converter-ui-container">
  <form class="form-class" [formGroup]="parentForm" (ngSubmit)="(onSubmit)">
    <mat-grid-list id="grid-list" class="grid" cols="3" rowHeight="2:1">
      <mat-grid-tile id="category" class="grid">
        <app-category [parentForm]="parentForm"></app-category>
      </mat-grid-tile>
      <mat-grid-tile id="icon" class="grid">
        <app-category-icon [parentForm]="parentForm"></app-category-icon>
      </mat-grid-tile>
      <mat-grid-tile id="converter" class="grid">
        <app-converter [parentForm]="parentForm"></app-converter>
      </mat-grid-tile>
      <mat-grid-tile id="input" class="grid">
        <app-conversion-input [parentForm]="parentForm"></app-conversion-input
      ></mat-grid-tile>
      <mat-grid-tile id="arrow" class="grid"> </mat-grid-tile>
      <mat-grid-tile id="output" class="grid"
        ><app-conversion-output
          [parentForm]="parentForm"
        ></app-conversion-output
      ></mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
